name: Build and Release Go Project

on:
  workflow_call:
    inputs:
      VERSION:
        description: 'Version name'
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    env:
      VERSION: ${{ inputs.VERSION }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: api/go.mod
          cache: true

      - name: Install dependencies
        working-directory: ./api
        run: go mod download

      - name: Build binaries
        working-directory: ./api
        run: |
          echo "Building version ${VERSION}..."
          make build
          echo "Build complete."

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Grant execute permission for Gradlew
        working-directory: ./android
        run: chmod +x gradlew

      - name: Build Android APK
        working-directory: ./android
        run: ./gradlew assembleRelease

      - name: Locate APK file
        id: find_apk
        run: |
          APK_PATH=$(find ./android/app/build/outputs/apk/release -name "*.apk" | head -n 1)
          echo "apk_path=$APK_PATH" >> $GITHUB_OUTPUT
          echo "Found APK at $APK_PATH"

      - name: Generate changelog and create release
        uses: IdanKoblik/Changelog@prod
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          version: ${{ inputs.VERSION }}
          assets: |
            [
              "./api/whisper",
              "${{ steps.find_apk.outputs.apk_path }}"
            ]

