name: Main Pipeline

on:
  push:
    branches: [main, 24-android-cicd]
  pull_request:
  workflow_dispatch:
    inputs:
      VERSION:
        description: 'Version to release'

permissions:
  contents: write 
  packages: write

jobs:
  go_test:
    uses: ./.github/workflows/callable.go_testing.yml

  build:
    if: github.event_name == 'workflow_dispatch'
    needs: go_test
    uses: ./.github/workflows/callable.build.yml
    with:
      VERSION: ${{ github.event.inputs.VERSION }} 

  docker:
    if: github.event_name != 'pull_request'
    needs: go_test 
    uses: ./.github/workflows/callable.docker.yml
    with:
      VERSION: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.VERSION || 'latest' }}
